@font-face {
  font-family: "Europa";
  src: url("../fonts/Europa-Bold.ttf");
}

@font-face {
  font-family: "Eurostyle";
  src: url("../fonts/eurostile.ttf");
}

@font-face {
  font-family: "Noto";
  src: url("../fonts/NotoSansDisplay.ttf");
}

.europa {
  font-family: "Europa", sans-serif;
}

.eurostyle {
  font-family: "Eurostyle", sans-serif;
}

.noto {
  font-family: "Noto", sans-serif;
  font-weight: 600;
}

/* Style for the scroll bar track */
.removeScrollBar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Style for the scroll bar track */
.removeScrollBar::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Style for the scroll bar thumb/dragger */
.removeScrollBar::-webkit-scrollbar-thumb {
  @apply bg-transparent;
  border-radius: 5px; /* Rounded corners */
}

/* Style for the scroll bar track when hovering */
.removeScrollBar::-webkit-scrollbar-thumb:hover {
  @apply cursor-grab;
}

/* Style for the scroll bar track when hovering */
.removeScrollBar::-webkit-scrollbar-thumb:active {
  @apply cursor-grabbing;
}
